.container {
  max-width: 1184px;

  width: 100%;
  /* max-width: 320px; */
  padding: 0 15px;
  /* padding: 0 16px; */
  margin: 0px auto;
}

.header-container {
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 38px;
  /* background-color: var(--primary-burgundy-purple); */
}

.container.footer-container {
  /* max-width: unset; */
}

@media screen and (min-width: 768px) {
  .container {
    /* max-width: 768px; */
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 905px) {
  .container {
    /* max-width: 842px; */

    /* margin: 0; */
    /* max-width: 842px; */
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer-container {
    flex-direction: row;
    gap: 86px;
    max-width: 842px;
    /* ?? */
    padding-top: 16px;
    padding-bottom: 32px;
  }
}

/* @media screen and (min-width: 1440px) {
  .container {
    max-width: 1256px;
    padding-right: 32px;
    padding-left: 32px;
  }
} */
