.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 54px;
  margin-bottom: 6px;
  /* background-color: var(--primary-light-grey); */
  /* border-radius: 50%;
  overflow: hidden; */
}

.text {
  max-width: min-content;
  text-align: center;
}
