.navigation {
  /* margin-left: 28px; */
  display: flex;
  align-items: center;
  gap: 16px;
  /* justify-content: space-between; */
  /* width: 100%; */
}

.btnsWrapper {
  display: flex;
  align-items: center;
  /* align-self: flex-start; */
  /* ?????? */
  gap: 12px;
  /* margin-left: auto; */
  justify-self: flex-end;
}

.box {
  flex: 1;
  display: flex;
  /* gap: 40px; */
  justify-content: space-between;
}

.searchBtn {
  max-height: 24px;
}

.title {
  padding-top: 8px;
  margin-left: 5px;
  font-size: 15px;
}

@media screen and (min-width: 360px) {
  .navigation {
    gap: 24px;

    /* margin-left: calc(26px + 16px); */
  }

  .title {
    margin-left: 10px;
  }
}

@media screen and (min-width: 905px) {
  .btnsWrapper {
    gap: 26px;
  }
}

/* ------ */
.navWrapper {
  display: flex;
  gap: 24px;
  font-size: 20px;
}

.navLink {
  position: relative;
  padding: 20px 0;
  align-self: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.active {
  color: #f2f4f7;
}

.active:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: var(--secondary-red);
  width: 100%;
  height: 4px;
}

.logoText {
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: #f2f4f7;
}
