/* .gradientIcon {
  mask-image: url(../../../assets//static/images/star_filled_1.svg);

  background: linear-gradient(45deg, #d1adf8, #513879);
  width: 24px;
  height: 24px;
} */

.sidebar-btn {
  /* z-index: 20000; */
}

.burger-btn {
  z-index: 3000;
}
