.item {
  display: flex;
  gap: 20px;
}

.wrapper {
  padding-bottom: 58px;
  flex: 1;
}

.bookSubtitle {
  margin-bottom: 6px;
  font-weight: 300;
}

.iconsList {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 8px;
}

.iconItem {
  display: flex;
  align-items: center;
}

.iconItem p {
  font-size: 14px;

  font-weight: 300;
}

.icon {
  margin-right: 2px;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 4px;
}

.text {
  font-size: 14px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bookTitle {
  line-height: 1.1;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  max-width: 98%;
  height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

@media screen and (max-width: 359px) {
  .item {
    gap: 15px;
  }

  .bookTitle {
    font-size: 16px;
  }

  .iconsList {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 374px) {
  .text {
    max-width: 168px;
  }
}

@media screen and (min-width: 905px) {
  .wrapper {
    padding-bottom: 0;
  }

  .item {
    gap: 34px;
  }

  .bookTitle {
    font-size: 32px;
    height: 38px;
    max-width: 100%;
  }

  .iconsList {
    gap: 16px;
    margin-bottom: 16px;
  }

  .icon {
    width: 30px;
    height: 28px;
  }

  .iconItem p {
    font-size: 16px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .text {
    font-size: 18px;
    height: 80px;
    max-width: 90%;
  }
}
