.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--background);

  /* background-color: transparent; */

  /* background-color: black; */
  z-index: 2000;
  padding-top: 12px;
  /* padding-bottom: 10px; */
}
