.item {
  /* flex: 1 1 calc(50% - 50px); */
}

.chapterText {
  margin-bottom: 6px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.teamTitle {
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@media screen and (min-width: 905px) {
  /* .updatedBook {
    width: 200px;
    height: 288px;
  } */

  .chapterText,
  .teamTitle {
    font-size: 20px;
  }

  .teamTitle {
    max-width: 152px;
    /* letter-spacing: ; */
  }
  /* .item {
    flex: 1 1 calc(33% - 50px);
  } */

  .teamIcon {
    width: 32px;
  }
}
