.container {
  padding-bottom: 4px;
  cursor: pointer;
}

  /* Стрілка вниз */
.arrow {
  width: 12px;
  height: 12px;
  /* width: 24px;
  height: 24px; */
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.arrow.rotate {
  transform: rotate(-135deg);
}
