.newsContainer {
  padding: 20px 10px;
  padding-top: 14px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.wrapper {
  position: relative;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: bottom;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;

  background-image: image-set(
    url(../../assets/static/images/news-1x-min.jpg) 1x,
    url(../../assets/static/images/news-2x-min.jpg) 2x
  );
  filter: blur(4px);
  z-index: 1;
}

.content {
  padding-top: 20px;
  position: relative;
  margin: 0 auto;
  max-width: 258px;
  z-index: 2;
}

.subtitle {
  margin-bottom: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.text {
  padding-bottom: 24px;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
}

@media screen and (min-width: 905px) {
  .news {
    padding-bottom: 14px;
  }

  .title {
    font-size: 24px;
  }

  .newsContainer {
    padding: 22px 46px;
  }

  .content {
    width: 100%;
    padding-top: 40px;
    max-width: unset;
    margin: 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    max-width: 100%;
    padding-bottom: 40px;
    max-width: 464px;
  }

  .subtitle {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 600;
    max-width: 464px;
  }
}
