.swiper-pagination {
  /* bottom: 0 !important; */
}

.swiper-pagination-bullet {
  background-color: var(--slider-grey) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-white) !important;
}

.slider-news > .swiper-pagination {
  bottom: 20px !important;
}


@media screen and (max-width: 904px) {
  .slider-news > .swiper-button-prev,
  .slider-news > .swiper-button-next {
    display: none;
  }
}



.slider-news > .swiper-button-prev,
.slider-news > .swiper-button-next {
  /* z-index: 10 !important; */
}

.slider-news > .swiper-pagination {
  /* z-index: 300 !important; */
}

.slider-news > .swiper-pagination-bullets {
  /* z-index: 300 !important; */
}
