.swiper-pagination {
  bottom: 0 !important;
  /* z-index: 100 !important; */
}

.swiper-pagination-bullet {
  background-color: var(--slider-grey) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-white) !important;
}
