.slider-popular > .swiper-pagination {
  bottom: 10% !important;
  z-index: 2 !important;
  font-weight: 250 !important;
}

.slider-popular > .swiper-button-prev,
.slider-popular > .swiper-button-next {
  top: 86% !important;
  z-index: 4 !important;
}

@media screen and (max-width: 359px) {
  .slider-popular > .swiper-pagination {
    bottom: 5% !important;
  }

  .slider-popular > .swiper-button-prev,
  .slider-popular > .swiper-button-next {
    top: 90% !important;
  }
}

@media screen and (min-width: 905px) {
  .slider-popular > .swiper-pagination {
    display: none;
  }

  .slider-popular > .swiper-button-prev,
  .slider-popular > .swiper-button-next {
    bottom: 50% !important;
    top: 50% !important;
  }

  .slider-popular > .swiper-wrapper {
    padding-left: 46px !important;
  }
}
